*{
    margin: 0;
    padding: 0;
    font-family: 'Italianno', cursive;
}
.main{
background-image:linear-gradient(rgba(0, 0, 0, 0.556) , rgba(0, 0, 0, 0.578)), url(images/donation1.jpg);
height: 60%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.main {
    text-align: center;
    padding: 240px;
}
.main > h1{
    font-size: 60px;
    color: white;
}
.main > p{
color: wheat;  
  font-size: 25px;
    margin: 40px 0;
}
.main-batun{
text-decoration: none;
background-color: rgb(206, 62, 70);
padding: 20px 40px;
color: white;
font-size: 22px;
display: inline-block;
margin-top: 20px;
border-radius: 5px;
}

/* 2nd section  */
.donat-taitel{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.donat-taitel h1{
    font-size: 50px;
}
.donat-taitel > p{
    font-size: 20px;
    color: gray;
    margin: 20px 0;
}

.tk-prand{
    width: 1000px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.taka{
    padding: 60px 45px;
    background-color: rgb(243, 237, 227);
    border-radius: 8px;
    
    
}
.taka > h1{
    font-size: 25px;
    
}
.takas{
    padding: 60px 45px;
    border: 1px solid red;
    background-color: pink;
    border-radius: 8px;
}
.Other{
text-align: center;
margin: 200px;
}
.Other > h5{
    margin-bottom: 15px;

}
/* 2nd section end  */


.plan-prand{
display: flex;
width: 1500px;
margin: auto;
justify-content: space-between;
margin-bottom: 100px;

}
.plan-single-cird{
    width: 390px;
    
padding: 30px 45px;
border-radius: 15px;
}
.plan-single-cird img{
    margin-top: 70px;
    width: 20%;
}
.plan-single-cird h2{
    margin: 20px 0;
    font-size: 35px;
}
.plan-single-cird > p{
    font-size: 22px;
}
/* end section  */

.Contribute-section{
    display: flex;
    margin: auto;
    
    
   
}
.Contribute{
    width: 40%;
margin-left: 8%; 
margin-right: 8%;
padding: 150px 0;
    
}
.Contribute > img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   
   
}
.Contribute > h1{
    font-size: 60px;
}
.Contribute p{
    font-size: 22px;
    margin: 35px 0;
}
.Contribute-buton{
    text-decoration: none;
    background-color: coral;
    padding: 20px 40px;
    border-radius: 5px ;
    margin-top: 20px;
    display: inline-block;
}
/* end section  */



.input-submit{
    width: 600px;
    margin: 100px auto;
    background-color: rgba(255, 127, 80, 0.292);
    padding: 100px 300px;
    text-align: center;
}
.input-submit > input{
    padding: 15px 50px;
    border: none;
    font-size: 20px;
    border-radius: 6px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}
footer > h4{
    margin: 40px 0;
    font-size: 20px;
}
